<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biscoito da Desmotivação</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

    <!-- Favicon --> 
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png"> 
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png"> 
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png"> 
    <link rel="manifest" href="/img/favicon/site.webmanifest">

    
</head>

<body>

    <header>
        <img class="logo" src="/img/fortune-cookie.png" alt="">
        <h1 class="titulo">Biscoito da Desmotivação</h1>
    
    
    </header>

    <main>
        <h2 class ="frase"><%=frases.texto%></h2>
        <a href="/">
            <button type = "botao" class = "botao" onclick=""> Abrir biscoito </button>
         </a>
    </main>

    <footer class="rodape">
        Copyright © 2022 - Exercendo o direito de ser desagradável
    </footer>

</body>

</html>